<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | url }}">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <h3 class="home">{{ '/' | url }}">{{ metadata.title }}</h3>
<a href="{{ '/' | url }}"><img src="/img/logo.jfif" /></a> A 'not-really-a-fan' page.
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
      <a class="btn btn-primary" href="/about/" role="button">Link</a>
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }#exactline}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>
 
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      <!-- Delete this message -->

      <!-- This is where a lot of content can be put...

     <h1> Test heading </h1>
     Test words.  These appeared on the local host, so I guess I could write anything hear 
     in free text with carriage returns?  Hmmm, hitting return was great for starting a new line
     in VS Code, but made no difference to the local host version which wraps such that it always
     fills the screen.  This is really easy to add text as content.  So, how to 
     format it?  I thought this had a theme? -->
      
      <!-- Stop deleting -->

      {{ content | safe }}
    </main>
<aside>
This is a side bar that appears on all pages to make sure you eventually listen to this track.

<iframe src="https://open.spotify.com/embed/track/0pEBL0Jl8ak9vEJu8nW9oL" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<p>There are a lot of very good tracks on Come Clean, but this one was easily obtained from Spotify and is one of my favourites.  There is some pretty intricate guitar work to listen out for and unlike on "She F***ing Hates Me", they didn't just make one perfect recording and keep repeating the recording to create the refrain.</p>

<p>  The track called "Control" (see video) has a very catchy chord sequence that led me to create two tracks from my first album - "Doom" and "Twats Together".   </p> 
<p> This is Doom - a cheery ditty about the impending climate disaster... </p>
<audio controls>
  <source src="/sounds/01Doom.mp3" type="audio/mpeg" preload = "auto">
  Your browser does not support the audio tag.
</audio>
<p>This is Twats Together - a slightly rude song about my hatred of the effing Tories... </p>
<audio controls>
  <source src="/sounds/10Twats Together.mp3" type="audio/mpeg" preload = "auto">
  Your browser does not support the audio tag.
</audio>


</aside>

    <footer></footer>
<script src="{{ '/js/bootstrap.min.js' | url }}"></script>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
