---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/Dave__Chilli__Moreno.jpg" alt="Drummer of the band">
      <h5>Chilli Drums</h5>
        <p>This guy is called Dave Moreno, but his nickname is "Chilli" - for some reason.</p>
    </div>
    <div class="carousel-item">
      <img src="/img/CloudNine.jpg" alt="Picture of cloud making the shape of a nine.">
      <h5>Cloud9 Flies</h5>
        <p>Cloud Nine is the name of one of the band's tracks - it's not a favourite of mine, but this photograph is a bit special and finding licence-free pictures is a bit of a struggle...</p>
    </div>
    <div class="carousel-item">
      <img src="/img/Puddle_of_Mudd_rocks_Marine_Corps_Base_Hawaii_during_BayFest_2011.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit,">
      <h5>Wes Plays</h5>
        <p>I think Wes is the lead singer and one of the guitarists.  This picture was taken in 2011 at a concert in Hawaii.</p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<p>So, this is the first track on the first Puddle of Mudd album that I ever heard, called Come Clean - their most successful album to date.  My ears immediately tuned in to the full-bodied guitar/bass/drum combination and I was, without realising it at the time, doomed to hum the main chord sequence over and over for the next 15 or so years.  It was an awesome sound then and there has been little to surpass it ever since (IMHO).</p>

<div class="iframeContainer">
<iframe src="https://www.youtube.com/embed/I0-lENIRHaM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>I've embedded this video as an easy way of getting Control into this not-really-a-fan page, but I still haven't watched it.  I only have the vaguest idea of what the band members look like - and I really doubt that I'm missing anything.  Anyway, I don't need to see them to enjoy their music, I only need a decent pair of speakers and an empty house so I can crank them up and feel the rhythms rattling my sternum.</p>

<p>If you want to find out more about them, I could copy some bits off <a href="https://en.wikipedia.org/wiki/Puddle_of_Mudd" target="_blank"> Wikipedia</a>, but it would be better if you read it for yourself.</p>
