---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}

<p>So, this is the first track on the first Puddle of Mudd album that I ever heard.  My ears immediately tuned in to the full-bodied guitar/bass combination and I was, without realising it at the time, doomed to hum the main chord sequence over and over for the next 10 or so years.  It was awesome then and there has been little to surpass it ever since.</p>

<div class="iframeContainer">
<iframe src="https://www.youtube.com/embed/I0-lENIRHaM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>I've embedded this video as an easy way of getting Control into this not-really-a-fan page, but I still haven't watched it.  I only have the vaguest idea of what the band members look like - and I really doubt that I'm missing anything.  Anyway, I don't need to see them to enjoy their music, I only need a decent pair of speakers and an empty house so I can crank them up and feel the rhythms pushing the air aside.</p>

<p>Donec ullamcorper elementum sem sit amet pulvinar. Vestibulum egestas quis urna id pharetra. Quisque hendrerit consequat arcu, vel gravida diam rutrum non. Suspendisse potenti. Duis mattis felis sit amet turpis commodo eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam nec arcu fermentum, tincidunt ante et, consequat turpis. Nullam vel vestibulum nunc. Vestibulum pharetra purus placerat tortor lacinia, eget porta magna bibendum. Sed porttitor, eros eu dictum pharetra, tortor risus fringilla nisi, a varius dui orci sed dolor. Suspendisse consectetur et massa at convallis. Nulla lorem lorem, porta nec mollis non, aliquam ultricies magna. Etiam arcu ante, imperdiet porttitor enim vel, faucibus congue lorem. Suspendisse tempor pharetra augue, eu suscipit quam faucibus vitae.</p>
