---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}

<p>So, this is the first track on the first Puddle of Mudd album that I ever heard, called Come Clean - their most successful album to date.  My ears immediately tuned in to the full-bodied guitar/bass/drum combination and I was, without realising it at the time, doomed to hum the main chord sequence over and over for the next 15 or so years.  It was an awesome sound then and there has been little to surpass it ever since (IMHO).</p>

<div class="iframeContainer">
<iframe src="https://www.youtube.com/embed/I0-lENIRHaM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>I've embedded this video as an easy way of getting Control into this not-really-a-fan page, but I still haven't watched it.  I only have the vaguest idea of what the band members look like - and I really doubt that I'm missing anything.  Anyway, I don't need to see them to enjoy their music, I only need a decent pair of speakers and an empty house so I can crank them up and feel the rhythms rattling my sternum.</p>

<p>If you want to find out more about them, I could copy some bits off <a href="https://en.wikipedia.org/wiki/Puddle_of_Mudd" target="_blank"> Wikipedia</a>, but it would be better if you read it for yourself.</p>
